---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists/b905e1b8cb531a8c5620
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1459405518'
      Etag:
      - W/"78ab58ed02a5a5668c495e47f7db4743"
      Last-Modified:
      - Thu, 31 Mar 2016 02:10:13 GMT
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/b905e1b8cb531a8c5620","forks_url":"https://api.github.com/gists/b905e1b8cb531a8c5620/forks","commits_url":"https://api.github.com/gists/b905e1b8cb531a8c5620/commits","id":"b905e1b8cb531a8c5620","git_pull_url":"https://gist.github.com/b905e1b8cb531a8c5620.git","git_push_url":"https://gist.github.com/b905e1b8cb531a8c5620.git","html_url":"https://gist.github.com/b905e1b8cb531a8c5620","files":{"acid_test.adoc":{"filename":"acid_test.adoc","type":"text/plain","language":"AsciiDoc","raw_url":"https://gist.githubusercontent.com/cheerfulstoic/b905e1b8cb531a8c5620/raw/8455c9baf8b73ebcc0df337c5359e8cfd929c872/acid_test.adoc","size":1742,"truncated":false,"content":"=
        GraphGist acid test\n:neo4j-version: 2.3\n:author: Brian Underwood\n:twitter:
        @cheerfulstoic\n:style: #54A835/#1078B5/white:Colorized(name)\n\nGraphGist
        created to test the various features available to GraphGist rendering\n\nimage::http://i.imgur.com/5giAsjq.png[width=600]\n\n=
        ASCIIdoc formatting\n\n= Level 1 Header\n\n== Level 2 Header\n\n=== Level
        3 Header\n\n_italic_\n\n*bold*\n\n`Monospace`\n\nhttp://www.link.to/\n\nlink:http://example.org[Link
  [...]
- request:
    method: get
    uri: https://gist.githubusercontent.com/cheerfulstoic/b905e1b8cb531a8c5620/raw/8455c9baf8b73ebcc0df337c5359e8cfd929c872/acid_test.adoc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8455c9baf8b73ebcc0df337c5359e8cfd929c872"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - 211ce2b8890bdd33cf01aaf9139a4da3953715bf
      Source-Age:
      - '108'
    body:
      encoding: UTF-8
      string: |
        = GraphGist acid test
        :neo4j-version: 2.3
        :author: Brian Underwood
        :twitter: @cheerfulstoic
        :style: #54A835/#1078B5/white:Colorized(name)

        GraphGist created to test the various features available to GraphGist rendering

        image::http://i.imgur.com/5giAsjq.png[width=600]

        = ASCIIdoc formatting

        = Level 1 Header

        == Level 2 Header

        === Level 3 Header

        _italic_

        *bold*

        `Monospace`

        http://www.link.to/

        link:http://example.org[Link Text]



        //setup
        //hide
        [source,cypher]
        ----
        CREATE
          (a:Person {name: 'Alice'}),
          (b:Person {name: 'Bob'}),
          (c:Person {name: 'Carrie'}),
          (d:Person {name: 'David'}),
          (e:Person {name: 'Emily'}),
          (a)-[:FRIENDS_WITH]->(b),
          (a)-[:FRIENDS_WITH]->(e),
          (b)-[:FRIENDS_WITH]->(c),
          (b)-[:FRIENDS_WITH]->(d),
          (:Colorized {name: 'Colorized'})
        [...]
[...]
- request:
    method: post
    uri: http://neo4j-console-23.herokuapp.com/console/init
    body:
      encoding: UTF-8
      string: '{"init":"none"}'
    headers:
      X-Session:
      - e8078cf6-996e-40eb-aeaa-db576687aabc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"+-------------+\n| Neo | r | m |\n+-------------+\n+-------------+\n0
        rows\n7 ms\n","init":null,"visualization":{"nodes":[],"links":[]},"stats":{"time":7,"rows":0},"columns":["Neo","r","m"],"query":"MATCH
        (n:Crew)-[r:KNOWS*]-m\n WHERE n.name\u003d\u0027Neo\u0027\n RETURN n AS Neo,r,m","json":[],"time":8,"message":null,"version":null,"plan":"Compiler
        CYPHER 2.3\n\nPlanner COST\n\nRuntime INTERPRETED\n\n+-----------------------+----------------+------+---------+--------------+---------------------------+\n|
        Operator              | Estimated Rows | Rows | DB Hits | Identifiers  | Other                     |\n+-----------------------+----------------+------+---------+--------------+---------------------------+\n|
        +ProduceResults       |              0 |    0 |       0 | Neo, m, r    | Neo,
        r, m         [...]
- request:
    method: post
    uri: http://neo4j-console-23.herokuapp.com/console/cypher
    body:
      encoding: UTF-8
      string: |-
        CREATE
          (a:Person {name: 'Alice'}),
          (b:Person {name: 'Bob'}),
          (c:Person {name: 'Carrie'}),
          (d:Person {name: 'David'}),
          (e:Person {name: 'Emily'}),
          (a)-[:FRIENDS_WITH]->(b),
          (a)-[:FRIENDS_WITH]->(e),
          (b)-[:FRIENDS_WITH]->(c),
          (b)-[:FRIENDS_WITH]->(d),
          (:Colorized {name: 'Colorized'})
    headers:
      X-Session:
      - e8078cf6-996e-40eb-aeaa-db576687aabc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"0 rows\n7 ms\n+-------------------+\n| No data returned.
        |\n+-------------------+\nNodes created: 6\nRelationships created: 4\nProperties
        set: 6\n\n","init":null,"visualization":{"nodes":[{"id":0,"labels":["Person"],"name":"Alice"},{"id":1,"labels":["Person"],"name":"Bob"},{"id":2,"labels":["Person"],"name":"Carrie"},{"id":3,"labels":["Person"],"name":"David"},{"id":4,"labels":["Person"],"name":"Emily"},{"id":5,"labels":["Colorized"],"name":"Colorized"}],"links":[{"end":1,"id":0,"source":0,"start":0,"target":1,"type":"FRIENDS_WITH"},{"end":4,"id":1,"source":0,"start":0,"target":4,"type":"FRIENDS_WITH"},{"end":2,"id":2,"source":1,"start":1,"target":2,"type":"FRIENDS_WITH"},{"end":3,"id":3,"source":1,"start":1,"target":3,"type":"FRIENDS_WITH"}]},"stats":{"nodesDeleted":0,"relationshipsCreated":4,"time":7,"nodesCreated":6,"text":"\nNodes
        created: 6\nRelationships created: 4\nProperties set: 6\nLabels added: 6\n","rows":0,"propertiesSet":6,"containsUpdates":true,"relationshipsDeleted":0},"columns":[],"query":"CREATE
        (a:Person { name: \u0027Alice\u0027 }),(b:Person { name: \u0027Bob\u0027 }),(c:Person
        { name: \u0027Carrie\u0027 }),(d:Person { name: \u0027David\u0027 }),(e:Person
        { name: \u0027Emily\u0027 }),(a)-[:FRIENDS_WITH]-\u003e(b),(a)-[:FRIENDS_WITH]-\u003e(e),(b)-[:FRIENDS_WITH]-\u003e(c),(b)-[:FRIENDS_WITH]-\u003e(d),(:Colorized
        { name: \u0027Colorized\u0027 })","json":[],"time":10,"version":null,"plan":"Compiler
        CYPHER 2.3\n\nPl[...]
- request:
    method: post
    uri: http://neo4j-console-23.herokuapp.com/console/cypher
    body:
      encoding: UTF-8
      string: 'MATCH (b:Person {name: ''Bob''})-[:FRIENDS_WITH]->(d:Person {name:
        ''David''}) RETURN b, d'
    headers:
      X-Session:
      - e8078cf6-996e-40eb-aeaa-db576687aabc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"+---------------------------------------------+\n| b                   |
        d                     |\n+---------------------------------------------+\n|
        Node[1]{name:\"Bob\"} | Node[3]{name:\"David\"} |\n+---------------------------------------------+\n1
        row\n9 ms\n","init":null,"visualization":{"nodes":[{"id":0,"labels":["Person"],"name":"Alice"},{"id":1,"labels":["Person"],"name":"Bob","selected":"b"},{"id":2,"labels":["Person"],"name":"Carrie"},{"id":3,"labels":["Person"],"name":"David","selected":"d"},{"id":4,"labels":["Person"],"name":"Emily"},{"id":5,"labels":["Colorized"],"name":"Colorized"}],"links":[{"end":1,"id":0,"source":0,"start":0,"target":1,"type":"FRIENDS_WITH"},{"end":4,"id":1,"source":0,"start":0,"target":4,"type":"FRIENDS_WITH"},{"end":2,"id":2,"source":1,"start":1,"target":2,"type":"FRIENDS_WITH"},{"end":3,"id":3,"source":1,"start":1,"target":3,"type":"FRIENDS_WITH"}]},"stats":{"time":9,"rows":1},"columns":["b","d"],"query":"MATCH
        (b:Person { name: \u0027Bob\u0027 })-[:FRIENDS_WITH]-\u003e(d:Person { name:
        \u0027David\u0027 })\n RETURN b, d","json":[{"b":{"_id":1,"_labels":["Person"],"name":"Bob"},"d":{"_id":3,"_labels":["Person"],"name":"David"}}],"time":10,"version":null,"plan":"Compiler
        CYPHER 2.3\n\nPlanner COST\n\nRuntime INTERPRETED\n\n+------------------+----------------+------+---------+----------------+-------------------------------------------+\n|
        Operator         | Estimated Rows | Rows | DB Hits | Identifiers    | Other                                     |\n+------------------+----------------+------+---------+----------------+-------[...]
[...]
- request:
    method: post
    uri: http://neo4j-console-23.herokuapp.com/console/cypher
    body:
      encoding: UTF-8
      string: MATCH (n:MissingParen
    headers:
      X-Session:
      - e8078cf6-996e-40eb-aeaa-db576687aabc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"init":null,"query":"MATCH (n:MissingParen","time":4,"error":"Unexpected
        end of input: expected an identifier character, whitespace, NodeLabel, a property
        map, \u0027)\u0027 or a relationship pattern (line 1, column 22 (offset: 21))\n\"MATCH
        (n:MissingParen\"\n                      ^","version":null}'
  recorded_at: Thu, 31 Mar 2016 05:41:06 GMT
[...]
