---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists/b905e1b8cb531a8c5620
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '35'
      X-Ratelimit-Reset:
      - '1459258757'
      Etag:
      - W/"713eb622837eb49406d9e7cd69f57ab9"
      Last-Modified:
      - Tue, 29 Mar 2016 12:47:32 GMT
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/b905e1b8cb531a8c5620","forks_url":"https://api.github.com/gists/b905e1b8cb531a8c5620/forks","commits_url":"https://api.github.com/gists/b905e1b8cb531a8c5620/commits","id":"b905e1b8cb531a8c5620","git_pull_url":"https://gist.github.com/b905e1b8cb531a8c5620.git","git_push_url":"https://gist.github.com/b905e1b8cb531a8c5620.git","html_url":"https://gist.github.com/b905e1b8cb531a8c5620","files":{"gistfile1.txt":{"filename":"gistfile1.txt","type":"text/plain","language":"Text","raw_url":"https://gist.githubusercontent.com/cheerfulstoic/b905e1b8cb531a8c5620/raw/870547cb5662470d6cea27959a0bff4926208918/gistfile1.txt","size":1195,"truncated":false,"content":"GraphGist
        created to test the various features available to GraphGist rendering\n\nimage::http://i.imgur.com/5giAsjq.png[width=600]\n\n//setup\n//hide\n[source,cypher]\n----\nCREATE\n  (a:Person
        {name: ''Alice''}),\n  (b:Person {name: ''Bob''}),\n  (c:Person {name: ''Carrie''}),\n  (d:Person
        {name: ''David''}),\n  (e:Person {name: ''Emily''}),\n  (a)-[:FRIENDS_WITH]->(b),\n  (a)-[:FRIENDS_WITH]->(e),\n  (b)-[:FRIENDS_WITH]->(c),\n  (b)-[:FRIENDS_WITH]->(d)\n----\n\nBreak\n\n[source,cypher]\n----\nMATCH
        (a:Person {name: ''Alice''})-[:FRIENDS_WITH]->(b:Person {name: ''Emily''})
        RETURN * LIMIT 1\n----\n\n== Header\n\nGraph result:\n\n//graph_result\n\nFull
        graph:\n\n//graph\n\nBreak\n\n[source,cypher]\n----\nMATCH (a:Person) RETURN
        count(a)\n----\n\nNumber of people:\n\n//table\n\n[source,cypher]\n----\nRETURN
        ''data after table'' AS text\n----\n\n== Header\n\nTable directly after a
        header:\n\n//table\n\n[source,cypher]\n----\nMATCH (a:Person {name: ''Alice''})-[:FRIENDS_WITH]->(b:Person
        {name: ''Bob''}) RETURN * LIMIT 1\n----\n\n== Header\n\nGraph directly after
        a header:\n\n//graph_result\n\n\n== MathJax\n\nThere should be MathJax here:\n\n++++\n\\[p(u_i
        \\mid q) = \\sum p(u_i \\mid t)p(t \\mid q) \\]\n++++\n\n[source,cypher]\n----\nRETURN
        ''last result on page'' AS text\n----\n\n//table"}},"public":true,"created_at":"2016-03-27T09:52:35Z","updated_at":"2016-03-29T12:47:32Z","description":"Test
        GraphGist","comments":0,"user":null,"comments_url":"https://api.github.com/gists/b905e1b8cb531a8c5620/comments","owner":{"login":"cheerfulstoic","id":301415,"avatar_url":"https://avatars.githubusercontent.com/u/301415?v=3","gravatar_id":"","url":"https://api.github.com/users/cheerfulstoic","html_url":"https://github.com/cheerfulstoic","followers_url":"https://api.github.com/users/cheerfulstoic/followers","following_url":"https://api.github.com/users/cheerfulstoic/following{/other_user}","gists_url":"https://api.github.com/users/cheerfulstoic/gists{/gist_id}","starred_url":"https://api.github.com/users/cheerfulstoic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cheerfulstoic/subscriptions","organizations_url":"https://api.github.com/users/cheerfulstoic/orgs","repos_url":"https://api.github.com/users/cheerfulstoic/repos","events_url":"https://api.github.com/users/cheerfulstoic/events{/privacy}","received_events_url":"https://api.github.com/users/cheerfulstoic/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"cheerfulstoic","id":301415,"avatar_url":"https://avatars.githubusercontent.com/u/301415?v=3","gravatar_id":"","url":"https://api.github.com/users/cheerfulstoic","html_url":"https://github.com/cheerfulstoic","followers_url":"https://api.github.com/users/cheerfulstoic/followers","following_url":"https://api.github.com/users/cheerfulstoic/following{/other_user}","gists_url":"https://api.github.com/users/cheerfulstoic/gists{/gist_id}","starred_url":"https://api.github.com/users/cheerfulstoic/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cheerfulstoic/subscriptions","organizations_url":"https://api.github.com/users/cheerfulstoic/orgs","repos_url":"https://api.github.com/users/cheerfulstoic/repos","events_url":"https://api.github.com/users/cheerfulstoic/events{/privacy}","received_events_url":"https://api.github.com/users/cheerfulstoic/received_events","type":"User","site_admin":false},"version":"19e4c49ff50df3800019b0fe6966595ad0fcdd2a","committed_at":"2016-03-29T12:47:32Z","change_status":{"total":4,"additions":2,"deletions":2},"url":"https://api.github.com/gists/b905e1b8cb531a8c5620/19e4c49ff50df3800019b0fe6966595ad0fcdd2a"},{"user":{"login":"cheerfulstoic","id":301415,"avatar_url":"https://avatars.githubusercontent.com/u/301415?v=3","gravatar_id":"","url":"https://api.github.com/users/cheerfulstoic","html_url":"https://github.com/cheerfulstoic","followers_url":"https://api.github.com/users/cheerfulstoic/followers","following_url":"https://api.github.com/users/cheerfulstoic/following{/other_user}","gists_url":"http[...]
- request:
    method: get
    uri: https://gist.githubusercontent.com/cheerfulstoic/b905e1b8cb531a8c5620/raw/870547cb5662470d6cea27959a0bff4926208918/gistfile1.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"870547cb5662470d6cea27959a0bff4926208918"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - 05a80696f5d27c0b0905199fb5b3b9782c07f817
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |-
        GraphGist created to test the various features available to GraphGist rendering

        image::http://i.imgur.com/5giAsjq.png[width=600]

        //setup
        //hide
        [source,cypher]
        ----
        CREATE
          (a:Person {name: 'Alice'}),
          (b:Person {name: 'Bob'}),
          (c:Person {name: 'Carrie'}),
          (d:Person {name: 'David'}),
          (e:Person {name: 'Emily'}),
          (a)-[:FRIENDS_WITH]->(b),
          (a)-[:FRIENDS_WITH]->(e),
          (b)-[:FRIENDS_WITH]->(c),
          (b)-[:FRIENDS_WITH]->(d)
        ----

        Break

        [sou[...]
[...]
- request:
    method: post
    uri: http://neo4j-console-23.herokuapp.com/console/init
    body:
      encoding: UTF-8
      string: '{"init":"none"}'
    headers:
      X-Session:
      - 290d1958-feda-4aa2-b6b6-46573267b6f0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"+-------------+\n| Neo | r | m |\n+-------------+\n+-------------+\n0
        rows\n12 ms\n","init":null,"visualization":{"nodes":[],"links":[]},"stats":{"time":12,"rows":0},"columns":["Neo","r","m"],"query":"MATCH
        (n:Crew)-[r:KNOWS*]-m\n WHERE n.name\u003d\u0027Neo\u0027\n RETURN n AS Neo,r,m","json":[],"time":20,"message":null,"version":null,"plan":"Compiler
        CYPHER 2.3\n\nPlanner COST\n\nRuntime INTERPRETED\n\n+-----------------------+----------------+------+---------+--------------+---------------------------+\n|
        Operator              | Estimated Rows | Rows | DB Hits | Identifiers  | Other                     |\n+-----------------------+----------------+------+---------+--------------+---------------------------+\n|
        +ProduceResults       |              0 |    0 |       0 | Neo, m, r    | Neo,
        r, m         [...]
- request:
    method: post
    uri: http://neo4j-console-23.herokuapp.com/console/cypher
    body:
      encoding: UTF-8
      string: |-
        CREATE
          (a:Person {name: 'Alice'}),
          (b:Person {name: 'Bob'}),
          (c:Person {name: 'Carrie'}),
          (d:Person {name: 'David'}),
          (e:Person {name: 'Emily'}),
          (a)-[:FRIENDS_WITH]->(b),
          (a)-[:FRIENDS_WITH]->(e),
          (b)-[:FRIENDS_WITH]->(c),
          (b)-[:FRIENDS_WITH]->(d)
    headers:
      X-Session:
      - 290d1958-feda-4aa2-b6b6-46573267b6f0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"0 rows\n43 ms\n+-------------------+\n| No data returned.
        |\n+-------------------+\nNodes created: 5\nRelationships created: 4\nProperties
        set: 5\n\n","init":null,"visualization":{"nodes":[{"id":0,"labels":["Person"],"name":"Alice"},{"id":1,"labels":["Person"],"name":"Bob"},{"id":2,"labels":["Person"],"name":"Carrie"},{"id":3,"labels":["Person"],"name":"David"},{"id":4,"labels":["Person"],"name":"Emily"}],"links":[{"end":1,"id":0,"source":0,"start":0,"target":1,"type":"FRIENDS_WITH"},{"end":4,"id":1,"source":0,"start":0,"target":4,"type":"FRIENDS_WITH"},{"end":2,"id":2,"source":1,"start":1,"target":2,"type":"FRIENDS_WITH"},{"end":3,"id":3,"source":1,"start":1,"target":3,"type":"FRIENDS_WITH"}]},"stats":{"nodesDeleted":0,"relationshipsCreated":4,"time":43,"nodesCreated":5,"text":"\nNodes
        created: 5\nRelationships created: 4\nProperties set: 5\nLabels added: 5\n","rows":0,"propertiesSet":5,"containsUpdates":true,"relationshipsDeleted":0},"columns":[],"query":"CREATE
        (a:Person { name: \u0027Alice\u0027 }),(b:Person { name: \u0027Bob\u0027 }),(c:Person
        { name: \u0027Carrie\u0027 }),(d:Person { name: \u0027David\u0027 }),(e:Person
        { name: \u0027Emily\u0027 }),(a)-[:FRIENDS_WITH]-\u003e(b),(a)-[:FRIENDS_WITH]-\u003e(e),(b)-[:FRIENDS_WITH]-\u003e(c),(b)-[:FRIENDS_WITH]-\u003e(d)","json":[],"time":57,"version":null,"plan":"Compiler
        CYPHER 2.3\n\nPlanner RULE\n\nRuntime INTERPRETED\n\n+--------------+[...]
- request:
    method: post
    uri: http://neo4j-console-23.herokuapp.com/console/cypher
    body:
      encoding: UTF-8
      string: 'MATCH (a:Person {name: ''Alice''})-[:FRIENDS_WITH]->(b:Person {name:
        ''Emily''}) RETURN * LIMIT 1'
    headers:
      X-Session:
      - 290d1958-feda-4aa2-b6b6-46573267b6f0
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":"+-----------------------------------------------+\n| a                     |
        b                     |\n+-----------------------------------------------+\n|
        Node[0]{name:\"Alice\"} | Node[4]{name:\"Emily\"} |\n+-----------------------------------------------+\n1
        row\n21 ms\n","init":null,"visualization":{"nodes":[{"id":0,"labels":["Person"],"name":"Alice","selected":"a"},{"id":1,"labels":["Person"],"name":"Bob"},{"id":2,"labels":["Person"],"name":"Carrie"},{"id":3,"labels":["Person"],"name":"David"},{"id":4,"labels":["Person"],"name":"Emily","selected":"b"}],"links":[{"end":1,"id":0,"source":0,"start":0,"target":1,"type":"FRIENDS_WITH"},{"end":4,"id":1,"source":0,"start":0,"target":4,"type":"FRIENDS_WITH"},{"end":2,"id":2,"source":1,"start":1,"target":2,"type":"FRIENDS_WITH"},{"end":3,"id":3,"source":1,"start":1,"target":3,"type":"FRIENDS_WITH"}]},"stats":{"time":21,"rows":1},"columns":["a","b"],"query":"MATCH
        (a:Person { name: \u0027Alice\u0027 })-[:FRIENDS_WITH]-\u003e(b:Person { name:
        \u0027Emily\u0027 })\n RETURN *\n LIMIT 1","json":[{"a":{"_id":0,"_labels":["Person"],"name":"Alice"},"b":{"_id":4,"_labels":["Person"],"name":"Emily"}}],"time":25,"version":null,"plan":"Compiler
        CYPHER 2.3\n\nPlanner COST\n\nRuntime INTERPRETED\n\n+------------------+----------------+------+---------+----------------+-------------------------------------------+\n|
        Operator         | Estimated Rows | Rows | DB Hits | Identifiers    | Other                                     |\n+------------------+----------------+------+---------+----------------+-----[...]
[...]
