
#gist-body data-gist-id=graphgist.render_id class="#{'cached' if graphgist.cached?}"
  - html = graphgist.html
  = html && html.html_safe

= render partial: 'shared/graph_gist_render_footer', locals: {absolute_path: false}
