= javascript_include_tag 'jquery.datetimepicker', 'data-turbolinks-track' => true
= stylesheet_link_tag    'jquery.datetimepicker', media: 'all', 'data-turbolinks-track' => true


h1 = @asset[:title]
h3 Edit | Step 2

p = @asset[:author].name
p = @asset[:author].email

= render partial: 'edit_graph_gists_by_owner_step2_form', locals: {action: 'update_graph_gists_by_owner_step2'}
