/*
 *= require codemirror/codemirror
 *= require codemirror/themes/neo
 *= require neod3
 */

#gist-body img {
  max-width: 100%;
}


span.query-toggle, span.result-toggle {
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 9.5px;
}

span.query-toggle {
    top: 0;
    padding-top: 6px;
}

span.result-toggle {
    bottom: 0;
    padding-bottom: 6px;
}

a.run-query, a.edit-query {
  &.ui.button {
    position: absolute;
    bottom: 6px;
    box-shadow: 0px 0px 3px #888888;
  }
}

a.run-query {
    left: 9.5px;
}

a.edit-query {
    left: 55px;
}

.query-info {
    position: absolute;
    bottom: 6px;
    right: 45px;
}

a.resize-toggle {
    position: absolute;
    right: 0;
    bottom: -50px;
}

a.show-console-toggle {
    position: relative;
    top: -35px;
}

a.show-console-toggle.show-console-toggle-hidden-console {
    top: 0;
}

span.resize-vertical-handle {
    position: absolute;
    bottom: -11px;
    display: block;
    height: 9px;
    width: 100%;
    background: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: s-resize;

    span {
        display: block;
        margin: 4px auto;
        height: 1px;
        width: 30px;
        background: #888888;
    }
}

#resize-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#console {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

#console-wrapper {
  position: relative;
  left: 0;
  top: 0;
  width: 99.7%;
  z-index: 0;
  height: 23em;

  &.fixed-console {
    position: fixed;
  }
}

#console-label {
    display: none;
}

p.console.fixed-console > #console-label {
    display: inline;
}

p.console.fixed-console {
    height: 24px;
    margin-bottom: 24px;
}

#content.internet-explorer #console-wrapper.fixed-console {
    width: 98%;
}

.listingblock .content .highlight {
  padding-bottom: 4em;
}


p.console {
  padding: 3em;

  > span.loading {
      display: block;
      margin: 0 auto;
      width: 100%;
      text-align: center;
  }
}


div.visualization {
    margin-top: 42px;
    margin-bottom: 21px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    position: relative;
}

div.visualization-icons {
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 4px;
    font-size: 14px;
    color: #666666;
}

div.visualization.fullscreen > div.visualization-icons {
    top: 2px;
}

div.visualization-icons > i {
    padding: 0 2px 0 4px;
    cursor: pointer;
    width: 1.5em !important;
}

div.visualization.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 0 none;
    padding: 0;
    margin: 0;
    z-index: 10000;
    cursor: pointer;
}

a.visualization-download {
    position: absolute;
    top: 25px;
    right: 4px;
}

div.visualization.fullscreen > a.visualization-download {
    top: 24px;
}

div.result-table {
  .dataTables_filter {
    margin: 1em 0;

    input {
      margin-left: 0.5em;
      display: inline-block;
    }
  }


  table {
    clear: both;
  }

  table.dataTable td {
    padding: 0.5em 0.8em;
  }

  .dataTables_paginate {
    padding: 10px 0;

    .paginate_button {
      border: 1px solid #AAA;
      margin: 5px;
      padding: 2px;
      font-weight: bold;
      border-radius: 4px;
      background-color: #F8F8F8;

      &:hover {
        background-color: #FFF;
        border: 1px solid black;
      }
    }
  }
}

div.visualization > svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.d3-shadow {
    stroke: #000;
    stroke-width: 1.5px;
    stroke-opacity: .8;
}

.d3-text, .d3-path-text {
    stroke: none;
    font-family: sans-serif;
    text-shadow: none;
    pointer-events: none;
}

.d3-text {
    font-size: 10px;
    z-index: 10;
}

.d3-path-text {
    font-size: 8px;
    text-align: center;
}

.selected {
    stroke: red;
    stroke-width: 1.5px;
}

.d3-link {
    stroke: #222;
}

.d3-marker {
    stroke: #222;
    fill: #222;
}

.d3-node {
    color: #fa8072;
}

.cm-s-neo .cm-keyword {
    text-transform: uppercase;
}

#gist-body.cached {
  .console, .show-console-toggle {
    display: none;
  }
}

#console-template {
  display: none;

  .tabs {
    .tab {
      display: inline-block;
      font-size: 1.7em;
      padding: 0.5em;
      border: 1px solid black;
      margin: 0.5em 0;
      border-radius: 0.2em;

      &.active {
        background-color: #B8D5DA
      }
    }
  }

  .result {
    height: 500px;
    display: none;

    .table, .graph, .error, .loading {
      height: 100%;
      width: 100%;
    }

    .error pre {
      white-space: pre-wrap;
    }

    .loading {
      text-align: center;
      padding-top: 3em;
    }
  }
}

/**
 * Part taken from: prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code,
pre {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre::-moz-selection, pre ::-moz-selection,
code::-moz-selection, code ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre::selection, pre ::selection,
code::selection, code ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code,
  pre {
    text-shadow: none;
  }
}

/* Code blocks */
pre {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code,
pre {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code {
  padding: .1em;
  border-radius: .3em;
}

pre {
  position: relative;
}

// End of code from prism.js theme
