scss:
  pre {
    background-color: #FDFFE8;
    border: 1px solid black;
    padding: 1em;
    font-size: 0.7em;
    display: inline-block;
    margin-right: 1em;
  }

div style="font-size: 1.4rem"

  h1 What is a GraphGist?

  = image_tag 'about_graphgists.png', class: 'ui right large floated image'

  p
    |
      With Neo4j GraphGists you can describe and model your domain in a simple text file (<a href="http://asciidoc.org/">AsciiDoc</a>) and render it as a rich, interactive, database-backed page in any browser.

      It is perfect to document a specific domain, use-case, question or graph problem.

  h2 Examples

  p GraphGists work like any AsciiDoc document, but they allow you to insert special comments to define how data from Neo4j can be displayed and interacted with.

  p First define a block of <a href="http://neo4j.com/developer/cypher-query-language/">Cypher</a> code to setup the database, this block can also use LOAD CSV. Please use a educational graph size (around 150 nodes and rels):

  pre
    |
      //setup
      //hide
      [source,cypher]
      ----
      CREATE (neo:Database {name:'Neo4j'})
      CREATE (neo)-[:SUPPORTS]->(:Language {name:'Cypher'})
      ----

  p You can then describe the use-cases, run their queries on the data and output results as a table and/or a graph:

  div
    pre style="float: left"
      |
        [source,cypher]
        ----
        MATCH (db:Database)-[:SUPPORTS]->(language:Language)
        RETURN db.name as db, collect(language.name) as languages
        ----

        //table

    pre
      |
        [source,cypher]
        ----
        MATCH (d:Database)-[rel:SUPPORTS]->(l:Language)
        RETURN d,l
        ----

        //graph_result


  p You can fork <a href="https://gist.github.com/jexp/a56f7e7587ce5ed97561">this GraphGist template</a> to have something to start working with.

  p
    |
      A reader can explore your GraphGist to read and understand your domain.  A live console is also inserted into GraphGists so that readers can even try out their own queries
      We want to encourage you to model a domain that you know or like and describe it interactively in a GraphGist.

  /p
    |
      To learn about interesting existing models created by other Neo4j users browse the <a href="http://neo4j.com/graphgists/">impressive collection</a>.

  h2 How do I create a GraphGist?

  asciidoc:
    . Find a great domain (Music, Dating, Comics, Healthcare, Politics, Sciences, ...)
    . Whiteboard a good example graph model.
    . Determine interesting use-cases.
    . Create Cypher statements for setup and query-use-cases.
    . Write a good description and create a useful model picture (using a tool like link:http://gliffy.com[Gliffy] or link:http://www.apcjones.com/arrows/#[Arrows] or Neo4j Browser).
    . Compose it all nicely in your AsciiDoc-GraphGist-file (see link:https://github.com/neo4j-contrib/graphgist/blob/master/gists/syntax.adoc[this syntax documentation]).
    . Store it as a link:https://gist.github.com/[GitHub Gist]
    . Submit the URL on the link:/submit_graphgist[submission page]

    link:http://player.vimeo.com/video/74279113?badge=0&byline=0&portrait=0&title=0[**Watch the video to learn more!**]

  /h2 GraphGist Challenges

  /p
    |
      There have been three GraphGist competitions so far.  Check out our most recent <a href="/challenge/index.html">2015/2016 Winter Challenge</a>!

  /p
    |
      The best way gathering great graph models is to ask your community.
      That's why we already ran several challenges to find interesting ideas for GraphGists with tremendous results.

  /p
    asciidoc:
      The first challenge in September 2013 had link:https://github.com/neo4j-contrib/graphgist/wiki#wiki-graphgist-september-challenge-submissions[17 submissions] and link:http://blog.neo4j.org/2013/10/the-first-graphgist-challenge-completed.html?_ga=1.56087459.909862480.1422364624[3 winners].

  /p
    asciidoc:
      Our GraphGist Winter Challenge (Dec 2013-Jan 2014) asked for contributions in 10 categories.
      We got an impressive link:https://github.com/neo4j-contrib/graphgist/wiki#wiki-graphgist-winter-challenge-submissions---categories[65 submissions]. Here are the link:http://blog.neo4j.org/2014/02/graph-gist-winter-challenge-winners.html?_ga=1.56087459.909862480.1422364624[winners per category]

  p

  p
  