h1 What are GraphGists?

p
  |
    With Neo4j GraphGists you can describe and model your domain in a simple text file and render it as a rich, interactive page in any browser.  
    A GraphGist is just a simple AsciiDoc text file, and can be hosted in a GitHub Gist or any other place with an accessible URL.
    It will be rendered as an interactive page in your browser.

p For more information see the #{link_to 'about page', about_path}.


/h1 Featured GraphGists

/= render partial: 'graph_starter/assets/cards', locals: {assets: @featured_graphgists}

