= stylesheet_link_tag stylesheet_url('graphgist-render'), media: 'all'

script
  | window.graph_gist_portal_url = '#{root_url[0..-2]}';

= mathjax_tag absolute_path: true
= javascript_include_tag javascript_url('graphgist-render')

